li {
  list-style-type: none;
}

body {
  font-family: 'Slabo 13px', serif;
}
.done:checked {
  text-decoration: line-through;
}
section {

}
.checked {
  text-decoration: line-through;
}
h1{
  text-align: center;
  font-size: 6em;
  background-color: #33b17c;
  margin-top:0;
  margin-bottom: 28px;
  color: white;
  border-bottom: 8px solid #24694C;
  padding: 8px 0;
}
#todolist {
  list-style-type: none;
}
.input-form {
  text-align: center;
}
.to-do-input {
  width: 65%;
  height: 67px;
  color: #C7C7C7;
  font-size: 2em;
}
.to-do-input:hover {
  color: grey;
}
.to-do-input:active {
  color: grey;
}

.navigation-area {
  margin-bottom: 28px;
  text-align: center;
}
nav {
  ul {
    margin: 0;
    display: inline-block;
    padding: 0;
  }
  li {
    display: inline-block;
    font-size: 2em;
    background-color: #f7f7f7;
    padding: 5px 10px;
    border-radius: 5px;
    color: #C7C7C7;

    }
    li:hover {
      color: grey;
      cursor: pointer;
  }
}
.todo {
padding: 0;
  .task-list {
    text-align: center;
}
}
h2 {
  font-size: 1em;
  font-size: 1.3em;
  color: #33B17C;
}

.clear-completed {
  text-align: center;
  color: #33B17C;
  cursor: pointer;
  font-weight: bold;
}

.done {
  background-color: red;
}

.clear-section {
  position: fixed;
  width: 100%;
  top: 91.3%;
  background-color: #E4E4E4;
}
